* {
  margin: 0;
  padding: 0;
  border: 0; }

a:hover {
  color: white;
  text-decoration: underline; }

.u-h1 {
  font-size: 32px; }
  @media screen and (min-width: 320px) {
    .u-h1 {
      font-size: calc(32px + 32 * ((100vw - 320px) / 1600));
      line-height: calc(38px + 38 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h1 {
      font-size: 64px;
      line-height: 76px; } }

.u-h2 {
  font-size: 22px; }
  @media screen and (min-width: 320px) {
    .u-h2 {
      font-size: calc(22px + 22 * ((100vw - 320px) / 1600));
      line-height: calc(26px + 26 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h2 {
      font-size: 44px;
      line-height: 52px; } }

.u-h3 {
  font-size: 18px; }
  @media screen and (min-width: 320px) {
    .u-h3 {
      font-size: calc(18px + 18 * ((100vw - 320px) / 1600));
      line-height: calc(21px + 21 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h3 {
      font-size: 36px;
      line-height: 42px; } }

.u-h4 {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    .u-h4 {
      font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
      line-height: calc(21px + 5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h4 {
      font-size: 22px;
      line-height: 26px; } }

.u-h5 {
  font-size: 13px; }
  @media screen and (min-width: 320px) {
    .u-h5 {
      font-size: calc(13px + 4 * ((100vw - 320px) / 1600));
      line-height: calc(15px + 5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h5 {
      font-size: 17px;
      line-height: 20px; } }

.u-h6 {
  font-size: 9px; }
  @media screen and (min-width: 320px) {
    .u-h6 {
      font-size: calc(9px + 3 * ((100vw - 320px) / 1600));
      line-height: calc(10.5px + 4.5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h6 {
      font-size: 12px;
      line-height: 15px; } }

.base-green-background-color {
  background-color: #276864; }

.base-light-background-color {
  background-color: #F5F3E3; }

.u__text__color__white {
  color: white; }

.u__text__color__dark__blue {
  color: #04244A; }

.c-nav {
  position: absolute;
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */ }

.c-nav__container {
  justify-content: flex-end !important;
  width: 100vh; }

.c-nav__logo {
  height: 70px;
  -webkit-transition: height 1s;
  /* Safari prior 6.1 */
  transition: height 1s;
  transition-timing-function: ease-in-out; }

.c-nav__links {
  color: white; }

.c-nav__links__mobile {
  color: #F5F3E3;
  background: radial-gradient(circle, #f5f3e3 0%, #276864 0%, #276864 100%);
  transition: all 1.5s; }

.c-nav__links__mobile:hover {
  opacity: 1;
  background: #F5F3E3; }

.c-nav__container__mobile {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); }

.c-nav__mobile {
  text-align: center;
  position: static;
  height: auto;
  width: auto;
  max-width: auto;
  display: none; }

.c_nav__mobile__button {
  width: 35px;
  background-color: #276864; }

.c_nav__mobile__border__one {
  border-top: 1px solid #275e5b;
  border-bottom: 1px solid #275e5b; }

.c_nav__mobile__border__two {
  border-bottom: 1px solid #275e5b; }

@media only screen and (max-width: 768px) {
  .c_nav__mobile {
    display: block;
    text-align: center;
    background-color: #276864;
    position: absolute;
    right: -15px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    max-width: 345px; } }

@media only screen and (max-width: 576px) {
  .c-nav__logo {
    height: 60px; }
  .navbar {
    padding: .5rem 0rem; }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px; }
  .c-nav__logo {
    padding-left: .5rem; } }

@media only screen and (max-width: 300px) {
  .c-nav__logo {
    display: none; } }
