* {
  margin: 0;
  padding: 0;
  border: 0; }

a:hover {
  color: white;
  text-decoration: underline; }

.u-h1 {
  font-size: 32px; }
  @media screen and (min-width: 320px) {
    .u-h1 {
      font-size: calc(32px + 32 * ((100vw - 320px) / 1600));
      line-height: calc(38px + 38 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h1 {
      font-size: 64px;
      line-height: 76px; } }

.u-h2 {
  font-size: 22px; }
  @media screen and (min-width: 320px) {
    .u-h2 {
      font-size: calc(22px + 22 * ((100vw - 320px) / 1600));
      line-height: calc(26px + 26 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h2 {
      font-size: 44px;
      line-height: 52px; } }

.u-h3 {
  font-size: 18px; }
  @media screen and (min-width: 320px) {
    .u-h3 {
      font-size: calc(18px + 18 * ((100vw - 320px) / 1600));
      line-height: calc(21px + 21 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h3 {
      font-size: 36px;
      line-height: 42px; } }

.u-h4 {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    .u-h4 {
      font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
      line-height: calc(21px + 5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h4 {
      font-size: 22px;
      line-height: 26px; } }

.u-h5 {
  font-size: 13px; }
  @media screen and (min-width: 320px) {
    .u-h5 {
      font-size: calc(13px + 4 * ((100vw - 320px) / 1600));
      line-height: calc(15px + 5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h5 {
      font-size: 17px;
      line-height: 20px; } }

.u-h6 {
  font-size: 9px; }
  @media screen and (min-width: 320px) {
    .u-h6 {
      font-size: calc(9px + 3 * ((100vw - 320px) / 1600));
      line-height: calc(10.5px + 4.5 * ((100vw - 320px) / 1600)); } }
  @media screen and (min-width: 1920px) {
    .u-h6 {
      font-size: 12px;
      line-height: 15px; } }

.c__nav {
  position: absolute; }

.c__nav__container {
  justify-content: flex-end !important; }

.c__nav__logo {
  height: 70px; }

.c__nav__links {
  color: white; }

.c__footer {
  background-color: blue;
  width: 100%;
  height: 50px; }

.c__header__containter {
  height: 100vh; }

.c_icon_bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0px; }
