//-----------------------
//      BASE COLORS    
//-----------------------

$base-green: #276864;
$dark-base-green: #275e5b;
$base-dark-blue: #04244A;
$base-light-blue: #083D77;
$base-light: #F5F3E3;
$white: white;

//-----------------------
//   BACKGROUND COLORS    
//-----------------------

.base-green-background-color {
    background-color: $base-green
}
.base-light-background-color {
    background-color: $base-light
}
.base-dark-blue-background-color {
    background-color: $base-dark-blue;
}

//-----------------------
//    TEXT COLORS    
//-----------------------

.u__text__color__white{
    color: $white;
}
.u__text__base-light{
    color: $base-light
}

.u__text__color__dark__blue{
    color: $base-dark-blue;
}