//-----------------------
//      BASE COLORS    
//-----------------------

$base-green: #276864;
$dark-base-green: #275e5b;
$base-dark-blue: #04244A;
$base-light-blue: #083D77;
$base-light: #F5F3E3;
$white: white;

//-----------------------
//      CUSTOM COLORS    
//-----------------------