.c-nav {
    position: absolute;
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.c-nav__container {
    justify-content: flex-end !important;
    width: 100vh;
}
.c-nav__logo {
    height: 70px;
    -webkit-transition: height 1s; /* Safari prior 6.1 */
    transition: height 1s;
    transition-timing-function: ease-in-out;
}
.c-nav__links {
    color: $white;
}
.c-nav__links__mobile {
    color: $base-light;
    background: radial-gradient(circle, rgba(245,243,227,1) 0%, rgba(39,104,100,1) 0%, rgba(39,104,100,1) 100%);
    transition: all 1.5s;
}

.c-nav__links__mobile:hover {
    opacity: 1;
    background: $base-light;
}
.c-nav__container__mobile{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.c-nav__mobile{
    text-align: center;
    position: static;
    height: auto;
    width: auto;
    max-width: auto;
    display: none;
}
.c_nav__mobile__button{
    width: 35px;
    background-color: $base-green;
}
.c_nav__mobile__border__one {
    border-top: 1px solid $dark-base-green;
    border-bottom: 1px solid $dark-base-green;
}
.c_nav__mobile__border__two {
    border-bottom: 1px solid $dark-base-green;
}

@media only screen and (max-width: 768px){ 
    .c_nav__mobile{
        display: block;
        text-align: center;
        background-color: $base-green;
        position: absolute;
        right: -15px;
        top: 0px;
        height: 100vh;
        width: 100vw;
        max-width: 345px;
    }
}
@media only screen and (max-width: 576px){ 
.c-nav__logo{
    height: 60px; 
    }
.navbar {
    padding: .5rem 0rem; 
    }
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;;
    }
.c-nav__logo {
    padding-left: .5rem;
}
}
@media only screen and (max-width: 300px){ 
.c-nav__logo{
    display: none; 
    }
}